#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25;
}

.buttons:hover {
    background-color:  hsl(214, 100%, 52%);
}  

.counter-heading {
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 800;
  text-align: center;
} 

.bg-container {
  height: 100vh;
  background-color: #f1f5f8;
}
.counter-heading {
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 800;
}
 
.counter-value {
  font-size: 75px;
  font-weight: 900;
}
